In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('tombstone_conditions.csv')
df.head()

,hash256,section,composition,condition,legibility,estimated_installation_year
0,0049ac1ffd32c23bdfecec450ef57c849c11214f55313b...,AA,slate,good,good,1815.0
1,0052007a21903ea02fc734164c412ded3fc8dd57631dac...,AA,marble,fair,good,1831.0
2,005712d26d6009645a85b5a6bfecf3b213b9cb52ace8e8...,AA,marble,fair,poor,1837.0
3,00d2ec8c326523339228477bdf2a0226e5f3b0f9b2246f...,AA,NaN,NaN,NaN,1803.0
4,00e5d3a1ac5b842b06c456d2711495ff041ad3c67eef71...,AA,marble,poor,poor,1831.0

## Condition Section

In [4]:
# Compute median year of tombstone by section order
df.groupby('section')['estimated_installation_year'].median().sort_values(ascending=True)

section
AC    1782.0
AD    1815.5
AB    1824.0
AG    1824.0
AF    1829.0
AA    1836.0
VA    1848.0
AR    1850.0
AI    1852.5
BB    1855.5
AY    1856.0
BA    1856.0
AJ    1861.0
AK    1863.5
AQ    1863.5
FG    1864.0
AE    1866.0
AX    1867.5
BC    1870.0
AP    1870.0
BF    1874.5
BD    1875.0
AO    1875.0
BE    1886.0
AH    1893.0
AS    1897.0
Name: estimated_installation_year, dtype: float64